<%# Show the notice %>
<p id="notice"><%= notice %></p>
<%# Render all the current trips for this user %>
<div class="container">
  <div class="row">
    <div class="col s12">
      <h2 class='text-center'> <%= gravatar_for @user %> </h2>
      <h2 class='text-center'> <%= @user.name %> </h2>
      <h4 class='text-center grey-text lighten-3'>
        Number of trips: <%= @user.trips.count %>
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col s12 cards-container">
      <%= render @trips %>
    </div>
  </div>
</div>
<%# To the new trip %>
<% if user_signed_in? && (current_user.id == @user.id)%>
  <%= render "new_trip_button" %>
<% end %>
