<p id="notice"><%= notice %></p>

<div class="container">
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <%= link_to new_trip_path, class:"btn btn-floating btn-large red tooltipped waves-effect waves-block waves-light", 'data-delay':"50", 'data-position':"left", 'data-tooltip': "new trip".humanize, icon: 'close' do%>
    <i class="material-icons right">add</i>
    <% end %>
  </br>
  </div>
</div>

<br>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>



<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.trips.any? %>
    <h3> Number of trips: <%= @user.trips.count %> </h3>
    <ol class="trips">
      <%= render @trips %>
    </ol>
    <% end %>
  </div>
</div>
