<p id="notice"><%= notice %></p>

<div class="container">
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <%= link_to new_trip_path, class:"btn btn-floating btn-large red tooltipped waves-effect waves-block waves-light", 'data-delay':"50", 'data-position':"left", 'data-tooltip': "new trip".humanize, icon: 'close' do%>
    <i class="material-icons right">add</i>
    <% end %>
  </br>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s12">
      <h2 class='text-center'> <%= gravatar_for @user %> </h2>
      <h2 class='text-center'> <%= @user.name %> </h2>
      <h4 class='text-center grey-text lighten-3'>
        Number of trips: <%= @user.trips.count %>
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col s12 cards-container">
      <%= render @trips %>
    </div>
  </div>
</div>
