<%# Run the notice with injected JavaScript %>
<% if notice %>
  <script type="text/javascript">
    Materialize.toast('<%= notice %>', 4000)
  </script>
<% end %>

<%# Bind the comment object to the form %>
<%= form_for(@comment) do |f| %>
  <div class="row">
    <%# Input field for the comment %>
    <div class="input-field col s12 offset-s0">
      <i class="material-icons prefix">mode_edit</i>
      <label for="icon_prefix2">Compose new comment...</label>
      <%= f.text_field :content  %>
    </div>
    <%# Hidden field for the trip id %>
    <div class="field" type="hidden" value"<%= @trip.id%>" style="">
      <%= f.hidden_field :trip_id %>
    </div>
    <%# Hidden field for the user id %>
    <% if user_signed_in? %>
      <div class="field" type="hidden" value"<%= current_user.id %>" style="">
        <%= f.hidden_field :user_id %>
      </div>
    <% end %>
    <br>
    <%# Submit button %>
    <div class="text-center">
      <%= f.submit "Submit",  class:"btn btn-primary"%>
    </div>
  </div>
<% end %>
