<%= form_for(@comment) do |f| %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new comment..." %>
  </div>

    <div class="field" type="hidden" value"<%= @trip.id%>" style="">
      <%= f.hidden_field :trip_id %>
    </div>

    <div class="text-center">
      <%= f.submit "Submit",  class:"btn btn-primary"%>
    </div>

<% end %>
