<div class="row">
  <div class="col s6 offset-s3">
    <div class="card-panel grey lighten-5">
      <div class="card-content">
        <div class="input-field">
          <%= form_tag(trips_path, :method => "get", id: "search") do %>
            <%= search_field_tag :search, params[:search], placeholder: "Search Trips",  id: "search" %>
            <label for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
            <%= submit_tag "Search" , :type => "hidden" %>
          <% end %>
        </div>
      </div>
      </div>
    </div>
  </div>


<!-- TODO is better -->
  <!-- <div class="row">
    <div class="col s6 offset-s3">
      <div class="row">
        <div class="input-field col s12">
          <%= form_tag(trips_path, :method => "get", id: "search") do %>
          <i class="material-icons prefix">search</i>
          <input type="text" id="search" class="autocomplete">
          <label for="search">Search</label>
          <%= submit_tag "Search" , :type => "hidden" %>
          <% end %>

        </div>
      </div>
    </div>
  </div> -->
