<div class="container">
  <div class="row">
    <div class="col s12">
      <h2 class='text-center'> Number of experiences: </h2>
      <h3 class='text-center grey-text lighten-3'>
        <%= @trips.size %>
      </h3>
      <!-- TODO check for 0 trips  -->
      <%= render "shared/search_bar" %>
      <table>
        <thead>
          <tr>
            <th> Country </th>
            <th> Title </th>
            <th> Owner </th>
            <th> Likes </th>
            <th colspan="4"></th>
          </tr>
        </thead>
        <tbody>
          <%# Loop the trip available %>
          <% @trips.each do |trip| %>
            <tr>
              <td><%= link_to trip.country, trip %></td>
              <td><%= link_to trip.title, trip %></td>
              <td><%= link_to trip.user.name, trip.user %></td>
              <td><%= trip.cached_votes_total %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
