<div class="container">
  <div class="row">
    <div class="col s12">
      <h1 class='text-center'> <%= @trip.title %> </h1>
      <h3 class='text-center grey-text lighten-3'>
        @<%= @trip.country %>
      </h3>
      <div class="text-center"></div>
    </div>
  </div>
  <% if user_signed_in? %>
    <%# Action button only available if the user created is current one %>
    <% if current_user.id == @trip.user.id%>
      <%= render "action_buttons" %>
    <% end %>
    <div class="">
      <h6 class='text-center'>
        <%# The switch in the like button %>
        <% if (current_user.liked? @trip) %>
          <%= button_to 'Unlike', {:controller => "trips", :action => "like"}, :method=>:post, params: { id: @trip.id }, class: "btn btn-primary" %>
          <i class="material-icons center red-heart">favorite</i>
        <% else %>
          <%= button_to 'Like', {:controller => "trips", :action => "like"}, :method=>:post, params: { id: @trip.id }, class: "btn btn-primary"  %>
          <i class="material-icons center red-heart">favorite_border</i>
        <% end %>
      </h6>
      <h6 class='text-right grey-text lighten-3'>
        <%# Render the edit function if it satisfies the requirement %>
        <% if user_signed_in?  %>
          <% if (current_user.id == @trip.user.id) %>
            <%= link_to 'Edit', edit_trip_path(@trip) %> |
          <% end %>
        <% end %>
        <%= link_to 'Back', user_path(@trip.user) %>
      </h6>
    </div>
  <% end %>
  <hr>
  <div class="row">
    <%# Render the picture in this trip first %>
    <% if @trip.pictures.any? %>
      <h5 class='text-left grey-text lighten-3'>
        <%= @trip.pictures.count %>
        <%= "Picture".pluralize(@trip.pictures.count) %>
      </h5>
      <div class="picture-container">
        <%= render @pictures %>
      </div>
    <% end %>
    <%# Render the cities in this trip then %>
    <% if @trip.cities.any? %>
      <h5 class='text-left grey-text lighten-3'>
        <%= @trip.cities.count %>
        <%= "City".pluralize(@trip.cities.count) %>
      </h5>
      <ul class="collapsible" data-collapsible="accordion">
        <%= render @cities %>
      </ul>
    <% end %>
    <hr>
    <%# Render the comment of the trip %>
    <div class="col-md-8">
      <% if @trip.comments.any? %>
        <h5 class='text-left grey-text lighten-3'>
          <%= @trip.comments.count %>
          <%= "Comments".pluralize(@trip.comments.count) %>
        </h5>
        <%= render "comments/form" %>
        <ol class="microposts">
          <%= render @comments %>
        </ol>
      <% end %>
    </div>
  </div>
</div>
