<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col s12">
      <h1 class='text-center'> <%= @trip.title %> </h1>
      <h3 class='text-center grey-text lighten-3'>
        @<%= @trip.country %>
      </h3>
      <div class="text-center">

      </div>

    </div>
  </div>

  <% if user_signed_in? %>

    <% if current_user.id == @trip.user.id%>
      <%= render "cities/new_city_button" %>
    <% end %>

  <div class="">
    <h6 class='text-center'>

      <% if (current_user.liked? @trip) %>
        <%= button_to 'Unlike', {:controller => "trips", :action => "like"}, :method=>:post, params: { id: @trip.id }  %>
        <i class="material-icons center">favorite</i>
      <% else %>
        <%= button_to 'Like', {:controller => "trips", :action => "like"}, :method=>:post, params: { id: @trip.id }  %>
        <i class="material-icons center">favorite_border</i>
      <% end %>
  <% end %>
    </h6>
    <h6 class='text-right grey-text lighten-3'>
      <% if current_user.id == @trip.user.id%> <%= link_to 'Edit', edit_trip_path(@trip) %> | <% end %>
      <%= link_to 'Back', user_path(@trip.user) %>
    </h6>
  </div>


  <hr>


  <div class="row">
    <% if @trip.cities.any? %>

    <h5 class='text-left grey-text lighten-3'>
      <%= @trip.cities.count %>
      <%= "City".pluralize(@trip.cities.count) %>
    </h5>

    <ul class="collapsible" data-collapsible="accordion">
      <%= render @cities %>
    </ul>
    <% end %>
  </div>
</div>
