<!DOCTYPE html>
<html>
  <head>
    <title>ITravel</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>

    <!-- NAVBAR -->
    <%= render 'layouts/navbar' %>

    <%= yield %>

    <!-- FOOTER -->
    <%= render 'layouts/footer' %>

  </body>
</html>
