extends ../layout

block content
    h1.
        #{title}
    form#formAddBlob(name="additem",method="post",action="/items", enctype="multipart/form-data")

      p Title: 
        input#inputName(type='text', value='#{item.title}', name='title')
      
      p Token value:
        input#inputName(type='number', value='#{item.token_value}', name='token_value')  
      
      p Type: 
        input#inputName(type='number', value='#{item.type}', name='type')
      
      //- p Description:
      //-   input#inputName(type='text', value='#{item.description}', name='description')
      p Description:
        textarea#inputName.form-control(rows='5' type='text', value='#{item.description}', name='description')
        
      p Image: 
        input#inputName(type='file', value='#{item.image}', name='image')
        //input#inputName(type='file', value='#{item.imagefile}',name='imagefile')
        
      
      p available_quantity:
        input#inputName(type='number', value='#{item.available_quantity}', name='available_quantity')              
      p
        button#btnSubmit(type="submit") ragret
