extends ../layout

block content
    h1 #{title}
          .card(style='width: 20rem;')
            img.card-img-top(src='data:image/png;base64, #{item.image}' class="rounded-circle" alt='Card image cap',style='width:500px')


    ul.list-group
        li.list-group-item Price: $#{item.token_value}
          |   
          li.list-group-item.list-group-item-success Item in stock:  #{item.available_quantity}
          |   
          li.list-group-item.list-group-item-info Description:  #{item.description}
          |   
          li.list-group-item.list-group-item-warning Item created: #{item.createdOn}

    if user        
      a.btn.btn-primary(href='/items/#{item._id}/#{user._id}/buy') Buy Item
    
    if user && user.role == 'admin'
    
      form(action='/items/#{item._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
          input(type='hidden',value='DELETE',name='_method')
          button.btn.btn-danger(type='submit') Delete
      p 
          a(href='/items/#{item._id}/edit') Edit
          
